{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Nook{% endblock %}</title>
    <link href="{% static 'members/styles.css' %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <div id="header_container">
      <div class="main_header">
        <h1>Nook</h1>
      </div>
      <div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">landing</a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    {% block body %} {% endblock %}
  </body>
</html>
