html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/178/284/original/download_%284%29.jpg?1770967828');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ABA38F;
    padding: 10px 5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app_name{
    font-size: 3.8rem;
}

a{
    text-decoration: none;
    color: #ABA38F;
}

#header_container{
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.nav-item{
    display: flex;
    margin: auto 15px;
    font-size: 1.9rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #ABA38F;
    border-radius: 15px;
    padding: 8px 12px;
    
}

.nav-item:hover{
    transform: scale(1.1);  
}

li{
    list-style: none;
}

.auth_frm{
    min-height: 60vh;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;

    background-color: transparent;
    background: rgba(255, 255, 255, 0.27);
    padding: 30px 40px;
    backdrop-filter: blur(6px);
    border-radius: 16px;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.02);
    font: 600;
    font-size: 1.5rem;
    color: #E6CFA7;
    text-align: center;
}